@import '../../variables';

.projects {
  width: 100vw;
  background-color: #FFD271;
  padding-bottom: 30px;

  hr {
    border: none;
    height: 1px;
    background: linear-gradient( to right, rgba(165, 150, 150, 0), rgb(255, 255, 255), rgba(165, 150, 150, 0));
  }
}