@import '../../variables';
@import '../../placeholders';

.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    @extend %heading;
    font-size: 64px;
    margin: 40px 0 10px;
  
    .name {
      font-size: 96px;
    }
  }
  
  h2 {
    @extend %heading;
    font-size: 24px;
    color: #f8ad0b;
    margin: 20px;
  }
  
  .linkedinIcon, 
  .githubIcon {
    margin: 15px;
    font-size: 50px;
  }
  
  .githubIcon {
    color: #F65C78;
  }
  
  .linkedinIcon {
    color: #C3F584;
  }
  
}