@import '../../variables';
@import '../../placeholders';

.navBar {
  @extend %flex-center;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  padding: 22px 30px;
  font-family: $body-font;
  color: $grey;
  background-color: $white;
  border-radius: 0 0 25px 25px;

  .menuIcon {
    font-size: 28px;
    color: $grey;
  }

  .menu {
    a {
      color: $grey;
      font-size: 16px;
      text-decoration: none;
      padding: 3px 6px;
      margin: 0 8px;
      border-radius: 6px;
    }
  }

  .active {
    color: $pink;
    font-size: 24px;
  }

  .default {
    color: $grey;
    font-size: 24px;
  }

  // .example-enter {
  //   opacity: 0.01;
  // }
  
  // .example-enter.example-enter-active {
  //   opacity: 1;
  //   transition: opacity 500ms ease-in;
  // }
  
  // .example-leave {
  //   opacity: 1;
  // }
  
  // .example-leave.example-leave-active {
  //   opacity: 0.01;
  //   transition: opacity 300ms ease-in;
  // }
}