@import '../../variables';
@import '../../placeholders';

.navBar {
  @extend %flex-center;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  padding: 22px;
  font-family: $body-font;
  color: $grey;
  border-radius: 0 0 25px 25px;

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
  }

  .iconContainer:hover {
    opacity: 1;
  }

  .menuIcon {
    font-size: 28px;
    color: $black;
    opacity: 0.6;
  }

  .menuIcon:hover {
    opacity: 1;
  }

  .menu {
    a {
      color: $grey;
      font-size: 16px;
      text-decoration: none;
      padding: 0 6px;
      margin: 3px 7px;
      border-radius: 6px;
    }
  }

  .active {
    color: $pink;
    font-size: 24px;
  }
  
  .default {
    color: $grey;
    font-size: 24px;
    opacity: 0.7;
  }

  .default:hover {
    opacity: 1;
  }
  // .example-enter {
  //   opacity: 0.01;
  // }
  
  // .example-enter.example-enter-active {
  //   opacity: 1;
  //   transition: opacity 500ms ease-in;
  // }
  
  // .example-leave {
  //   opacity: 1;
  // }
  
  // .example-leave.example-leave-active {
  //   opacity: 0.01;
  //   transition: opacity 300ms ease-in;
  // }
}

.open {
  background-color: $white;
}

@media only screen and (min-width: 1020px) {
  .navBar {
    .menu {
      display: flex;
      justify-content: space-evenly;
      width: 60%;
    }
  }
}